/SELF-LEARNING/JAVA/TICTACTOE/SnakeTetris/nbproject/private/
/SELF-LEARNING/JAVA/TICTACTOE/TrabalhoAprog/nbproject/private/
/SELF-LEARNING/JAVA/TRABALHOAPROG/TrabalhoAprog/nbproject/private/
/SELF-LEARNING/JAVA/TRABALHOAPROG/TrabalhoAprog/build/
/SELF-LEARNING/JAVA/WORLDBUILDING/WorldBuilding/nbproject/private/
/SELF-LEARNING/JAVA/WORLDBUILDING/WorldBuilding/build/
/SELF-LEARNING/JAVA/VORONOI/Voronoi/nbproject/private/
/SELF-LEARNING/JAVA/WORLDBUILDING/MainWindowPreloader/nbproject/private/
/SELF-LEARNING/JAVA/WORLDBUILDING/WorldBuilding/dist/