# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\pedro\Desktop\portfolio\ISEP\SGRAI\Relogio\.idea/dataSources/
/dataSources.local.xml
